################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aptitude-Test/.vs/Aptitude-Test
/Aptitude-Test/1. SumOfBiggestNeighbor/obj
/Aptitude-Test/1. SumOfBiggestNeighbor/.vs
/Aptitude-Test/1. SumOfBiggestNeighbor/bin/Debug/netcoreapp3.0
/Aptitude-Test/2. CreateUserClass/bin/Debug/netcoreapp3.0
/Aptitude-Test/2. CreateUserClass/obj
/Aptitude-Test/3. JohnTheRobot/bin/Debug/netcoreapp3.0
/Aptitude-Test/3. JohnTheRobot/obj
/Aptitude-Test/4. AlexaSettings/bin/Debug/netcoreapp3.0
/Aptitude-Test/4. AlexaSettings/obj
/Aptitude-Test/5. MethodSignature/bin/Debug/netcoreapp3.0
/Aptitude-Test/5. MethodSignature/obj
/Aptitude-Test/6. ConstructionGame/bin/Debug/netcoreapp3.0
/Aptitude-Test/6. ConstructionGame/obj
/Aptitude-Test/7. ConstructionGame/bin/Debug/netcoreapp3.0
/Aptitude-Test/7. ConstructionGame/obj
