################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aptitude-Test/.vs/Aptitude-Test
